[Unit]
Description=shana-supplicant@wlp4s0.service

Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
Before=network.target network-online.target shana-dhcpcd@wlp4s0.service
Wants=network.target

[Service]
Type=simple
ExecStartPre=ethtool -s enp0s25 wol d
ExecStartPre=ip link set dev %I up
ExecStart=/usr/sbin/wpa_supplicant -d -c/etc/wpa_supplicant/wpa_supplicant.conf -Dnl80211 -i%I -f /tmp/wpa_supplicant.log
#ExecStartPost=/sbin/dhcpcd %I

ExecStop=killall -q wpa_supplicant
#ExecStopPre=dhcpcd -xq wlp4s0
#ExecStop=ip link set dev wlp4s0 down

[Install]
Alias=multi-user.target.wants/wpa_supplicant-nl80211@%i.service
