[Unit]
Description=WPA supplicant daemon (interface-specific version)
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
Before=network.target shana-dhcpcd@%i.service
Wants=network.target

[Service]
Type=simple
ExecStartPre=/usr/sbin/ethtool -s enp0s25 wol d
ExecStartPre=/bin/ip link set dev %I up
ExecStart=/usr/sbin/wpa_supplicant -d -c/etc/wpa_supplicant/wpa_supplicant.conf -Dnl80211 -i%I -f /tmp/wpa_supplicant.log

ExecStopPre=/bin/ip link set dev %I down
ExecStop=/usr/bin/killall -q wpa_supplicant

[Install]
Alias=multi-user.target.wants/wpa_supplicant-nl80211@%i.service
