[Unit]
Description=shana-dhcpcd@wlp4s0.service
Requires=shana-supplicant@wlp4s0.service
Wants=network.target
Before=network.target network-online.target

[Service]
Type=forking
ExecStart=/sbin/dhcpcd -j /tmp/dhcpcd.log -b %I
PIDFile=/run/dhcpcd-%I.pid

ExecStopPre=dhcpcd -j /tmp/dhcpcd.log -x %I
ExecStop=ip link set dev %I down

[Install]
WantedBy=multi-user.target
